/SecuritySystem.Application/obj
/SecuritySystem.Application/bin
/SecuritySystem.Domain/bin
/SecuritySystem.Domain/obj
/SecuritySystem.Domain/Guards/Models/PendingFeatures
/SecuritySystem.Domain/Systems/Exceptions/Pending Features
/SecuritySystem.Domain/Systems/Models/Pending Features
/SecuritySystem.Infrastructure/obj
/SecuritySystem.Infrastructure/bin
/SecuritySystem.Startup/obj
/SecuritySystem.Startup/bin
/SecuritySystem.Web/bin
/SecuritySystem.Web/obj
